torch==2.3.0
torchtext==0.18.0
torchaudio==2.3.0
torchvision==0.18.0

phonemizer
inflect
pandas

numpy
numba
matplotlib

tensorboard
tensorboardX

clearml

tqdm
PyYAML
ipykernel
pytorch_lightning

urllib3
boto3==1.14.0

dotenv-python